# GOPHRDRV Binaries
bin/gophrdrv

# Go Test and Coverage files
*.out
*.test
*.prof
coverage.html

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Local tools or environment files
.env
.env.local
